---
import "../styles/global.css"
import Card from "../components/Card.astro";
import Section from "../components/Section.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Kommende koncerter</h1>
		<Section title="Tidligere på Klein" link="/artists">
		<Card title="1" img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"/>
		<Card title="2" img="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill"/>
		<Card title="3" img="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill"/>
		<Card title="4" img="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill"/>
		<Card title="5" img="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill"/>
</Section>
	</body>
</html>
