---
import "../styles/global.css"
import Card from "../components/Card.astro";
import Section from "../components/Section.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Kommende koncerter</h1>
		<Card title="1" img="kommende.png"/>
		<Section title="Tidligere på Klein" link="/artists">
		<Card title="1" img="kommende.png"/>
		<Card title="2" img="tidligere.png"/>
		<Card title="3" img="apacha.png"/>
		<Card title="4" img="arets.png"/>
		<Card title="5" img="iaften.png"/>
</Section>
	</body>
</html>
