---
const { title, link } = Astro.props;
---


<section class="section">
    <header>
    <h2 class="section_title">{title}</h2>
    <a href={link}>Vis alle</a>
    </header>
    <div class="section_content">
        <slot/>
    </div>
</section>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .section_content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
</style>